{% extends "audit/user_base.html" %}
{% load audit_extras %}

{% block title %}Posts - {{ telegram_user.first_name }} {{ telegram_user.last_name }} - Trawlr{% endblock %}

{% block user_extra_css %}
{% include "includes/messages_table_css.html" %}
{% endblock %}

{% block user_content %}
<div class="card border-0">
    {% include "includes/messages_table_filters.html" with search=search media_filter=media_filter sort=sort per_page=per_page channels=channels channel_filter=channel_filter total_count=posts_total show_500_per_page=False %}

    {% include "includes/messages_table.html" with messages=posts pending_message_ids=pending_message_ids known_users=known_users show_source=True show_topic_info=True show_album_info=True show_extended_date=True show_details_modal=True album_info=album_info col_count=8 empty_icon="inbox" empty_message="No archived posts for this user yet." search=search media_filter=media_filter channel_filter=channel_filter %}

    {% include "includes/messages_table_pagination.html" with posts=posts search=search media_filter=media_filter sort=sort per_page=per_page channel_filter=channel_filter %}
</div>

{% include "audit/includes/posts_modals.html" %}
{% endblock %}

{% block user_extra_js %}
{% include "includes/messages_table_js.html" %}
{% include "audit/includes/posts_js.html" %}
{% endblock %}
